body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:901px;
}
#u83 {
  position:absolute;
  left:10px;
  top:1px;
  width:1180px;
  height:901px;
}
#u84 {
  position:absolute;
  left:2px;
  top:442px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:902px;
}
#u85 {
  position:absolute;
  left:10px;
  top:0px;
  width:130px;
  height:902px;
}
#u86 {
  position:absolute;
  left:2px;
  top:443px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:61px;
}
#u87 {
  position:absolute;
  left:139px;
  top:0px;
  width:1050px;
  height:61px;
}
#u88 {
  position:absolute;
  left:2px;
  top:22px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u89 {
  position:absolute;
  left:284px;
  top:192px;
  width:200px;
  height:1px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u91 {
  position:absolute;
  left:224px;
  top:168px;
  width:50px;
  height:50px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#CCCCCC;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u93 {
  position:absolute;
  left:494px;
  top:168px;
  width:50px;
  height:50px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:224px;
  top:235px;
  width:57px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:489px;
  top:229px;
  width:57px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u99 {
  position:absolute;
  left:574px;
  top:192px;
  width:200px;
  height:1px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u101 {
  position:absolute;
  left:784px;
  top:168px;
  width:50px;
  height:50px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#CCCCCC;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:783px;
  top:228px;
  width:57px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u105 {
  position:absolute;
  left:850px;
  top:195px;
  width:200px;
  height:1px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u107 {
  position:absolute;
  left:1060px;
  top:170px;
  width:50px;
  height:50px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#CCCCCC;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:1059px;
  top:231px;
  width:57px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u111 {
  position:absolute;
  left:179px;
  top:99px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u113 {
  position:absolute;
  left:437px;
  top:371px;
  width:178px;
  height:16px;
}
#u114 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:414px;
  top:419px;
  width:211px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#108EE9;
}
#u117 {
  position:absolute;
  left:437px;
  top:487px;
  width:43px;
  height:16px;
  color:#108EE9;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#108EE9;
}
#u119 {
  position:absolute;
  left:562px;
  top:487px;
  width:43px;
  height:16px;
  color:#108EE9;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
