body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:858px;
}
#u0 {
  position:absolute;
  left:179px;
  top:16px;
  width:362px;
  height:858px;
}
#u1 {
  position:absolute;
  left:2px;
  top:421px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
